### CUSTOM ###
application-local.yml




HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
# 忽略测试目录和临时目录
lwx-magic-code-backend/src/test/
lwx-magic-code-backend/tmp/


### VS Code ###
.vscode/
/src/test/java/com/lwx/lwxmagiccodebackend/ai/AiCodeGeneratorServiceTest.java
/src/test/java/com/lwx/lwxmagiccodebackend/core/CodeParserTest.java
/src/test/java/com/lwx/lwxmagiccodebackend/core/AiCodeGeneratorFacadeTest.java
